<MudOverlay Visible=true DarkBackground >
    <MudPopover Fixed=false Open=true AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Class="px-8">
        @if (localContact != null)
        {
            <h4 class="d-flex justify-content-center m-3">
                <div class="mr-3">
                    @if (localContact?.office == "New York" || localContact?.office == "San Francisco")
                    {
                        <MudImage Width=30 Src=@FlagData.Where(x => x.name == "United States").Select(x => x.image).First() />
                    }
                    @if (localContact?.office == "Tokyo")
                    {
                        <MudImage Width=30 Src=@FlagData.Where(x => x.name == "Japan").Select(x => x.image).First() />
                    }
                    @if (localContact?.office == "Sydney")
                    {
                        <MudImage Width=30 Src=@FlagData.Where(x => x.name == "Australia").Select(x => x.image).First() />
                    }
                    @if (localContact?.office == "Edinburgh")
                    {
                        <MudImage Width=30 Src=@FlagData.Where(x => x.name == "Scotland").Select(x => x.image).First() />
                    }
                    @if (localContact?.office == "London")
                    {
                        <MudImage Width=30 Src=@FlagData.Where(x => x.name == "United Kingdom").Select(x => x.image).First() />
                    }
                    @if (localContact?.office == "Argentina")
                    {
                        <MudImage Width=30 Src=@FlagData.Where(x => x.name == "Argentina").Select(x => x.image).First() />
                    }
                </div>
                @{
                    var title = string.IsNullOrEmpty(@localContact?.name) ? "Enter Contact Info" : @localContact?.name;
                }
                @title
            </h4>
            <EditForm Model="@localContact" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@(() => {success = false;})">
                <DataAnnotationsValidator />
                <div class="d-flex flex-row m-3">
                    @if (Mode != Enums.PopoverMode.Readonly)
                    {
                        <MudTextField For="@(() => localContact.name)" Class="m-2" ReadOnly="@(Mode==Enums.PopoverMode.Readonly)" @bind-Value="@localContact.name" Label="Name" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Person" AdornmentColor="Color.Inherit" Margin="Margin.Dense" />
                    }
                    <MudTextField For="@(() => localContact.position)" Class="m-2" ReadOnly="@(Mode==Enums.PopoverMode.Readonly)" @bind-Value="@localContact.position" Label="Position" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AccountCircle" AdornmentColor="Color.Inherit" Margin="Margin.Dense" />
                </div>
                <div class="d-flex flex-row m-3">
                    <MudTextField For="@(() => localContact.office)" Class="m-2" ReadOnly="@(Mode==Enums.PopoverMode.Readonly)" @bind-Value="@localContact.office" Label="Office" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.LocationCity" AdornmentColor="Color.Inherit" Margin="Margin.Dense" />
                    <MudTextField For="@(() => localContact.salary)" Class="m-2" ReadOnly="@(Mode==Enums.PopoverMode.Readonly)" @bind-Value="@localContact.salary" Label="Salary" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" AdornmentColor="Color.Success" Margin="Margin.Dense" />
                </div>
                <div class="d-flex flex-row m-3">
                    <MudTextField For="@(() => localContact.startDate)" Class="m-2" ReadOnly="@(Mode==Enums.PopoverMode.Readonly)" @bind-Value="@localContact.startDate" Label="Start Date" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CalendarMonth" AdornmentColor="Color.Inherit" Margin="Margin.Dense" />
                    <MudTextField For="@(() => localContact.extn)" Class="m-2" ReadOnly="@(Mode==Enums.PopoverMode.Readonly)" @bind-Value="@localContact.extn" Label="Extension" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Phone" AdornmentColor="Color.Inherit" Margin="Margin.Dense" />
                </div>
                @if (success)
                {
                    <MudText Color="Color.Success">Success</MudText>
                }
                else
                {
                    <MudText Color="@Color.Error">
                        <ValidationSummary />
                    </MudText>
                }
                <div class="d-flex justify-content-end m-3">
                    @if (Mode != Enums.PopoverMode.Readonly)
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text">
                            Save
                        </MudButton>
                    }
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text" OnClick="@OnClose">
                        Close
                    </MudButton>
                </div>
            </EditForm>
        }
    </MudPopover>
</MudOverlay>